/* RESET GLOBAL */
* {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

:root {
  --secondary-color: #50e3c2;
  --button-color: #7986cb;
  --secondary-button-color: #5c6bc0;
  --background-color: #f5f7fa;
  --border-color: #c5cae9;
  --secondary-border-color: #7986cb;
  --text-color: white;
  --secondary-text-color: #333;
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 50, 0.1);
  padding: 30px 40px;
  margin: 80px auto;
  text-align: center;
  transition: all 0.3s ease;
  animation: fadeIn 0.3s ease;
}

.login-form h1 {
  margin-bottom: 25px;
  color: #333;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: 600;
  color: black;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  font-size: 1em;
  transition: all 0.2s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: var(--secondary-border-color);
  box-shadow: 0 0 5px #9fa8da;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-form button:hover {
  background-color: var(--secondary-button-color);
  transform: translateY(-2px);
}

.login-form button[type="button"] {
  background-color: transparent;
  color: #333;
  text-decoration: underline;
  margin-top: 10px;
  font-weight: 500;
  transform: none !important;
}

.login-form button[type="button"]:hover {
  color: #5c6bc0;
  transform: none;
}

.login-form .error-message {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.login-form .success-message {
  color: green;
  font-size: 0.9em;
  margin-bottom: 10px;
}

/* PC */
@media (min-width: 1000px) {
  .login-form {
    width: 500px;
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 94%;
  }
}

/* MOBILE */
@media (max-width: 1000px) {
  .login-form {
    width: 85%;
    padding: 25px 20px;
    margin: 60px auto;
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 94%;
  }
  
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px); }
  to { opacity: 1; transform: translateY(0); }
}
