.board {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
    align-items: flex-start;
}

/* ------------------------------------------- */

.column {
    background-color: var(--border);
    border-radius: 12px;
    width: 520px;
    padding: 15px;
    min-height: 70px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.column h3 {
    margin: 0 0 15px 0;
    font-size: 0.9rem;
    color: var(--second-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.list {
    min-height: 70px;
}

/* ------------------------------------------- */

.item {
    background-color: var(--card);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.item-header strong {
    font-size: 1rem;
    color: var(--font);
}

.item-desc {
    margin: 8px 0 0 0;
    font-size: 0.85rem;
    color: var(--second-font);
    line-height: 1.4;
}

/* ------------------------------------------- */

.delete-btn {
    background: var(--jsp);
    border: none;
    color: white;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
    font-size: 20px;
    line-height: 0; 
    padding: 0;
    padding-bottom: 2px; 
    transition: all 0.2s ease;
}

.delete-btn:hover {
    opacity: 1;
    background-color: #d13434;
    transform: scale(1.1);
}


/* ------------------------------------------- */

.add-todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 600px;
}

.add-todo-form input {
    flex: 1;
    padding: 12px;
    border: 2px solid var(--border);
    border-radius: 8px;
    background: white;
    color: var(--font);
    outline: none;
}

.add-todo-form button {
    padding: 12px 24px;
    background-color: var(--second-background);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.add-todo-form button:hover {
    background-color: var(--jsp);
}